<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xvermilion.modulesample.home">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/title_home">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.xvermilion.modulesample.home.HomeActivity" />
    </application>

</manifest>